html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  position: absolute;
  margin-right: 47vw;
  top: 0;
  right: 0;
  color: #aaa;
  font-size: 80px;
}

 {
  position: absolute;
  margin-right: 150px;
  top: 35px;
  right: 500px;
  color: #aaa;
}
